<section *ngIf="missionPhotos">
	<ng-container>
		<mat-card-title>Photos taken by {{missionPhotos[0].camera.full_name}}</mat-card-title>
		<mat-grid-list [cols]="cols" [gutterSize]="'0.5rem'">
			<mat-grid-tile *ngFor="let image of missionPhotos;let i = index">
				<img [src]="image.img_src" crossorigin>
			</mat-grid-tile>
		</mat-grid-list>
	</ng-container>
</section>

<div *ngIf="missionPhotos">
	<button mat-raised-button *ngIf="missionPhotos.length>=25" color="primary" (click)="loadMore()">Load another part of photos</button>
</div>
